@font-face {
   font-family: 'Cafe24Decobox';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-12-20_090227/fonts/Cafe24Decobox/font.ttf');
}
