{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CDN URL -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"                        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"                              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">


  <title>Main WEB</title>
</head>
<body>

        <!-- Navbar 영역 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white container my-3">
        <div class="container">
    
            <!-- Logo 영역 -->
            <a class="mb-2 navbar-brand" href="{% url 'bingo:bingo' %}"><img src="{% static "/bingo/bingo/images/logo.png" %}" width="70" height="40" alt=""><strong> NAME</strong></a>
        
            <!-- 햄버거 메뉴 영역 (data-target : Menu ID) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Navbar Content 영역 -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="me-2">
                        <a class="nav-link" href="{% url 'bingo:detail1' %}">
                        game1</a>
                    </li>
                    <li class="me-2">
                        <a class="nav-link" href="{% url 'bingo:detail2' %}">
                        game2</a>
                    </li>
                    <li class="me-2">
                        <a class="nav-link" href="{% url 'bingo:detail3' %}">
                        game3</a>
                    </li>
                    <li class="me-2">
                        <a class="nav-link" href="{% url 'Board:list' %}">
                        board</a>
                    </li>
                    <li class="me-2">
                        <a class="nav-link" href="{% url 'common:login' %}">
                        로그인</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'common:signup' %}">
                        회원가입</a>
                    </li>

                </ul>
            </div>
    
        </div>
    </nav>


    <p class="placeholder-wave">
        <span class="placeholder col-12 bg-secondary"></span>
    </p>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <div class="row justify-content-center">
            
            <div class="col-lg-10">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static "bingo/detail1/images/4-1280x720.jpg"%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "/bingo/bingo/images/아블헌터.jpg"%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static "/bingo/bingo/images/picture3.jpg"%}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <br><br><br>
    <div style="text-align:center">
        <h2><strong>ALL GAEMS </strong></h2>
    </div>
    <span class="placeholder col-12 bg-dark"></span>
    <br><br>
    <div class="container" style="margin: auto;">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/splatoon.gif"%}"  height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <h2 style="font-family: 'Fredoka One', cursive;">Splatoon 3</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">대자연에서,<br> 대도시에서,<br>
                        더욱 더 넓어지는 <br>영역 배틀!</h3><hr>
                    <a href="{% url 'bingo:detail1' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO SPLATOON</button></p></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-body" style="font-family: 'Fredoka One', cursive;">
                    <h2 style="font-family: 'Fredoka One', cursive;">Evil Hunter</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">흥미진진한 전투 컨텐츠 !!
                        최강의 헌터를 가리는 PVP</h3><hr>
                        <a href="{% url 'bingo:detail2' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO EVIL HUNTER </button></p></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/hunter.jpg"%}" height="100%" width="100%">
                    
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/attack.jpg"%}"  height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <h2 style="font-family: 'Fredoka One', cursive;">Sudden Attack</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">다양한 맵!<br>개인전, 팀 데스매치 등<br>다양한 모드 FPS!</h3><hr>
                    <a href="{% url 'bingo:detail3' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO SUDDEN ATTACK</button></p></a>
                </div>
            </div>
        </div>

    </div>
    <br><br>    <br><br>
    <div class="container-fluid">
        <div class="row"> 
          <div class="col pt-5 mt-5" style="background-color:rgb(139, 214, 241);">
            <ul class="nav">
              <li>
                <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>이용약관</a>
              </li 
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>개인정보처리방침</a>
                </li
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>청소년보호정책</a>
                </li
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>게임IP사용가이드</a>
                </li
            </ul>       
            <div class="container-fluid">
              <div class="row mt-3" > 
                <p> <small>㈜딩고빙고코리아 대표 김원희 오주현 김성준 박경린 서명균 백현서<br>
                  E-mail : hellodjango-py@dinggo.co.kr 사업자등록번호 : 220-05-11111호 통신판매업 신고번호 : 제2022-서울강남-1659호<br>
                  &copy; DING BINF Korea Corporation All Rights Reserved.</small></p>
               </div>
             </div>     
               
            <p class="text-center pt-10">
              <img src="{%static "bingo/detail2/logo.png"%}" width="40" height="20" /> <strong>DINGO BINGO</strong></a>             
           </p>
            </div>
          </div>
        </div>
    </div>


    
</body>


</html>