{% extends "bingo_base.html" %}
{% load static %}
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CDN URL -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"                        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"                              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">


  <title>Main WEB</title>
{% endblock %}

{% block content %}




    <p class="placeholder-wave">
        <span class="placeholder col-12 bg-secondary"></span>
    </p>


    <section data-bs-version="5.1" class="slider1 cid-tq6hOOt26E" id="slider1-17">
    
        <div class="carousel slide" id="tq6ZeJwBdU" data-ride="carousel" data-bs-ride="carousel" data-interval="4000" data-bs-interval="4000">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tq6ZeJwBdU" data-bs-target="#tq6ZeJwBdU"></li>
                <li data-slide-to="1" data-bs-slide-to="1" data-target="#tq6ZeJwBdU" data-bs-target="#tq6ZeJwBdU"></li>
                <li data-slide-to="2" data-bs-slide-to="2" data-target="#tq6ZeJwBdU" data-bs-target="#tq6ZeJwBdU"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item slider-image item active">
                    <div class="item-wrapper">
                        <img class="d-block w-100" src="{%static "assets/images/4-2-1280x720.jpg"%}" alt="" height="full" width="full">
                        
                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                <strong>Splatoon 3</strong></h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">대자연에서, 대도시에서, 더욱 더 넓어지는 영역 배틀!</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-image item">
                    <div class="item-wrapper">
                        <img class="d-block w-100" src="{%static "assets/images/사진.jpg"%}" alt="">
                        
                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>Evil Hunter Tycoon</strong></h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">흥미진진한 전투 컨텐츠 !! 최강의 헌터를 가리는 PVP</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-image item">
                    <div class="item-wrapper">
                        <img class="d-block w-100" src="{%static "assets/images/-449x294.jpeg"%}" alt="">
                        
                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>SUDDEN ATTACK</strong></h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">전쟁 여론이 커지게 되자, 강대국에서는 치안 유지를 위한 경찰 부대를<br>가장한 특수부대(블루팀)을 보내 반군과 잔호크의 부대를 소탕하려 하는데...</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#tq6ZeJwBdU">
                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                <span class="sr-only visually-hidden">Previous</span>
            </a>
            <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#tq6ZeJwBdU">
                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                <span class="sr-only visually-hidden">Next</span>
            </a>
        </div>
    </section>


    {% include "timer.html" %}
    <br><br><br>
    <div style="text-align:center">
        <h2><strong>ALL GAEMS </strong></h2>
    </div>
    <span class="placeholder col-12 bg-dark"></span>
    <br><br>
    <div class="container" style="margin: auto;">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/splatoon.gif"%}"  height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <h2 style="font-family: 'Fredoka One', cursive;">Splatoon 3</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">대자연에서,<br> 대도시에서,<br>
                        더욱 더 넓어지는 <br>영역 배틀!</h3><hr>
                    <a href="{% url 'bingo:detail1' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO SPLATOON</button></p></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-body" style="font-family: 'Fredoka One', cursive;">
                    <h2 style="font-family: 'Fredoka One', cursive;">Evil Hunter</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">흥미진진한 전투 컨텐츠 !!
                        최강의 헌터를 가리는 PVP</h3><hr>
                            <a href="{% url 'bingo:detail2' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO EVIL HUNTER </button></p></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/hunter.jpg"%}" height="100%" width="100%">
                    
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body" >
                    <img src="{%static "bingo/bingo/images/attack.jpg"%}"  height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <h2 style="font-family: 'Fredoka One', cursive;">Sudden Attack</h2><hr>
                    <h3 style="font-family: 'Black Han Sans', sans-serif; font-size:xx-large;">다양한 맵!<br>개인전, 팀 데스매치 등<br>다양한 모드 FPS!</h3><hr>
                    <a href="{% url 'bingo:detail3' %}"><p style="font-family: 'Fredoka One', cursive;"><button type="button" class="btn btn-outline-dark">GO TO SUDDEN ATTACK</button></p></a>
                </div>
            </div>
        </div>

    </div>
    <br><br>    <br><br>
    


    
{% endblock %}


