{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메뉴바 추가</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">
    <!--여기에 link 추가-->
    <link rel="stylesheet" href="{%static "bingo/detail3/menu-style.css"%}">
    <style>
        video { max-width: 80%; display: block; margin: 20px auto; 
          position:absolute; top:17%; left:1%; width: 900px; height:550px
        }
        
    </style>


</head>
<body>
    <video muted autoplay loop>
        <source src="{%static "bingo/detail3/Clouds.mp4"%}" type="video/mp4">

        <strong>Your browser does not support the video tag.</strong>
    </video>

    <div class="container marketing">

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row featurette">
          </div>
          <div class="col-md-5">
            <p><img src="https://rs.nxfs.nexon.com/gameusr/19/7/zihY29180233377.png"alt="서든어택"/ style="width: 880px; height:510px;
              position:absolute; top:22%; left:53%"> 
            </p>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>


    <!--여기에 script 추가-->
    <script src="{%static "bingo/detail3/menu-script.js"%}"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</body>
</html>