{% extends "bingo_base.html" %}
{% load static %}
<!DOCTYPE html>
{% block head %}


  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">   
   <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <title>evil hunter page</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- Bootstrap CDN URL -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"                        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"                              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    
{% endblock %}

{% block content %}



  <body> 
  <section data-bs-version="5.1" class="video1 cid-tpdlktIjjy mbr-parallax-background" id="video1-s">  
    <div class="mbr-overlay" style="background-color: rgb(255, 255, 255);">
        <img src="{% static "assets/images/6-567x567.jpg"%}">
    </div>
    <div class="align-center container">
        <div class="mbr-section-head">
            
            
        </div>
        <div class="row justify-content-center mt-4 pb-5">
            <div class="col-12 col-lg-12">
                <div class="box mt-5 mb-5 pb-5">
                    <iframe width="1068" height="601" src="https://www.youtube.com/embed/5blZJnThT6M" title="『이블헌터 타이쿤』 소개 영상" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                </div>
            </div>
        </div>
    </div>
      <div class="box mt-5 mb-5 pb-5">
      </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="video1 cid-tpdlktIjjy mbr-parallax-background" id="video1-s">
    
  <div class="col" style="background-color: lavender;">
    <div class="col py-5 mt-5" style="background-color: lavender;">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-12 text-center">
            <h2 class="mbr-section-title mbr-fonts-style mb-3 display-5">헌터 육성에서부터 PVP 까지 한번에 </div></h2>
            <div class="row">

            <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
            <img src="{%static "bingo/detail2/캐릭터.jpg"%}" class="img-fluid rounded-circle">
            <br>
  
            <p class="mbr-text mbr-fonts-style display-7 text-center"><strong>나만의 헌터 조합 </strong>
            <br><hr> 
            <p class="mbr-text mbr-fonts-style display-7 text-center">귀여운 캐릭터와 함께 다양한 성격까지
            <br>모든 것을 조합하여 나만의 캐릭터를 만들어라</p>    
            </div>

            <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
            <img src="{%static "bingo/detail2/마을재건.jpg"%}" class="rounded img-fluid rounded-circle">
            <br><br>
            <p class="mbr-text mbr-fonts-style display-7 text-center"><strong>마을 재건 </strong>
            <br><hr> 
            <p class="mbr-text mbr-fonts-style display-7 text-center"> 전쟁으로 피폐해진 마을 
            <br>건물을 업그레이드하여 마을을 재건하라</p>    
          </div>


        <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
            <img src="{%static "bingo/detail2/콜로세움.jpg"%}" " class="rounded img-fluid rounded-circle">
            <br><br>
            <p class="mbr-text mbr-fonts-style display-7 text-center"><strong>사냥터 및 콜로세움</strong>
            <br><hr> 
            <p class="mbr-text mbr-fonts-style display-7 text-center"> 준비는 끝났다<br>
              사냥터를 통하여 최고의 전사를 육성하고<br>PVP 를 통하여 나의 강함을 증명하라</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid text-center mt-5 pt-5">
  <div class="row">
    <div class="col"> 
      <h2 class="mbr-section-title mbr-fonts-style display-5">어떤 재미난 모험이 기다리고 있을까</div></h2>
    </div>
  </div>

<!-- 사진 슬라이드 -->       
     <div class="container-fluid">
          <div class="row"> 
            <div class="col py-5 my-5">
        <div class="container-fluid">
          <div class="row justify-content-center"> 
            <div class="col-lg-8"  >
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
 <!-- Carousel indicators -->
          <ol class="carousel-indicators">
              <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
          </ol>

           
<!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="carousel-item active" >
                  <img src="{%static "bingo/detail2/캡처1.jpg"%}" class="d-block w-100" alt="Slide 1" >
              </div>
              <div class="carousel-item">
                  <img src="{%static "bingo/detail2/캡처2.jpg"%}" class="d-block w-100" alt="Slide 2">
              </div>
              <div class="carousel-item">
                  <img src="{%static "bingo/detail2/캡처4.jpg"%}" class="d-block w-100" alt="Slide 3">
              </div>
              <div class="carousel-item">
                <img src="{%static "bingo/detail2/캡처5.jpg"%}" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
              <img src="{%static "bingo/detail2/캡처6.jpg"%}" class="d-block w-100" alt="Slide 3">
          </div>

     </div>
      
 <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
      </div>

<!-- 사진 슬라이드 우측 글 -->      


      <div class="col-lg-4 text-center">
        <div class="container-fluid d-grid gap-2 col-9 mx-auto pt-5 ">
        <div class>
          <a class="btn-lg btn-success display-4" href="https://play.google.com/store/apps/details?id=com.retroarts.evilhuntertycoon&hl=ko&gl=US&pli=1" target="_blank">App Store 바로가기</a> </div>
         <br><br><br><br>
          <p class="mbr-section-text mbr-fonts-style display-7  "><strong>흥미진진한 전투 컨텐츠 !! <br>
          최강의 헌터를 가리는 PVP <br><br>
           어둠의 마왕이 세계를 파멸시키고<br>
            모든 것들을 파괴하였다...<br><br>
            
            간신히 살아남은 인간들의<br>
            필사적인 생존게임이 시작된다! </p> <br><br><br></strong>
          <img src="{%static "bingo/detail2/다운로드.jpg"%}" title="charactor" width="300" height="150">
                 
        </p>
              </div> 
            </div>
            </div>   
            </div>
        </div>
      </div>
{% endblock %}






      
  
     







      
  