{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <!-- 구글 폰트 -->
  
    <title>evil hunter page</title>
</head>

<body>
    <!-- 위에 배너 -->
  <div class="container-fluid" ”>
    <div class="row"> 
      <div class="col" style="background-color:rgb(139, 214, 241);">
        <p class="text-center pt-3">
          <a href="{% url 'bingo:bingo' %}">
            <img src="{%static "bingo/detail2/logo.png"%}" width="270" height="150" /> </a>         
       </p>
        </div>
      </div>
    </div>

   <!-- Navbar 영역 -->
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="https://www.tutlane.com/images/categorylogo/bootstrap.png" width="30" height="30" /> HOME</a>
           
            <ul class="navbar-nav">
              <!--Dropdown-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">아케이드</a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">Microsoft</a>
                   <a class="dropdown-item" href="#">JAVA</a>
                   <a class="dropdown-item" href="#">Database</a>
                </div>
              </li>
              <!--Dropdown-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">스토리게임</a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">Microsoft</a>
                   <a class="dropdown-item" href="#">JAVA</a>
                   <a class="dropdown-item" href="#">Database</a>
                </div>
              </li>
                  
              <li class="nav-item">
                <a class="nav-link" href="#">COMMUNITY</a>
              </li>
            </ul>

                 <!-- Navbar Content 영역 -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="me-2">
            <a class="nav-link" href="#"><i class="fa-solid fa-user me-2"></i>로그인</a>
          </li>
          <li class="me-2">
            <a class="nav-link" href="#"><i class="fa-solid fa-right-from-bracket me-2"></i>로그아웃</a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>회원가입</a>
          </li>
        </ul>
      </div>

    </div>
       </nav>
      </div>
   </div> 
   
  <!-- 영상제목 -->  
  <p>
    <h1> <strong> &nbsp;&nbsp;&nbsp;&nbsp; &lt;이블 헌터 타이쿤&gt; </strong></h1>
  </p>
   <br>
    <!-- 동영상 -->
   <div class="container-fluid">
    <div class="row">
      <iframe width="1250" height="900" src="https://www.youtube.com/embed/5blZJnThT6M" title="이블헌터 타이쿤 공식 홍보영상" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <video width="1250px" height="900px" src="./홍보.mp4" type="video/mp4" autoplay controls></video> -->
      </div>

 <!-- 아래 설명 글 -->
      <div class="container-fluid">
        <div class="row"> 
          <div class="col pt-5 pb-5 mt-5" style="background-color: lavender;">
            <div class="container py-5">
              <div class="row py-5">
                <div class="col-12 text-center">
                   <h2 class="mb-2 h1 font-weight-bold">헌터 육성에서부터 PVP 까지 한번에 !</h2>

                  <div class="row">
                  <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
                  <img src="{%static "bingo/detail2/캐릭터.jpg"%}" class="img-fluid rounded-circle">
                  <h5 class="mb-3 mt-5">나만의 헌터 조합</h5><hr>
                  <p class="mb-4 text-muted"> 귀여운 캐릭터와 함께 다양한 성격까지<br>
                                            모든 것을 조합하여 나만의 캐릭터를 만들어라</p>
              
                  </div>
                  <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
                  <img src="{%static "bingo/detail2/마을재건.jpg"%}" class="rounded img-fluid rounded-circle">
                  <h5 class="mb-3 mt-5">마을 재건</h5><hr>
                  <p class="mb-4 text-muted">전쟁으로 피폐해진 마을 <br>
                                    건물을 업그레이드하여 마을을 재건하라
        
                  </div>
              <div class="col-lg-4 col-md-6 vv profile-circel-image-200 mt-5 pt-5">
                  <img src="{%static "bingo/detail2/콜로세움.jpg"%}" " class="rounded img-fluid rounded-circle">
                  <h5 class="mb-3 mt-5">사냥터 및 콜로세움</h5><hr>  
                  <p class="mb-4 text-muted">준비는 끝났다<br>
                     사냥터를 통하여 최고의 전사를 육성하고<br>PVP 를 통하여 나의 강함을 증명하라</p>
            
                  </div>
                  </div>
                  
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

<!-- 사진 슬라이드 -->       
        <div class="container-fluid">
          <div class="row"> 
            <div class="col pt-5">
        <div class="container-fluid">
          <div class="row justify-content-center"> 
            <div class="col-lg-8"  >
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
 <!-- Carousel indicators -->
          <ol class="carousel-indicators">
              <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
              <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
          </ol>

        
        
<!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="carousel-item active" >
                  <img src="{%static "bingo/detail2/캡처1.jpg"%}" class="d-block w-100" alt="Slide 1" >
              </div>
              <div class="carousel-item">
                  <img src="{%static "bingo/detail2/캡처2.jpg"%}" class="d-block w-100" alt="Slide 2">
              </div>
              <div class="carousel-item">
                  <img src="{%static "bingo/detail2/캡처4.jpg"%}" class="d-block w-100" alt="Slide 3">
              </div>
              <div class="carousel-item">
                <img src="{%static "bingo/detail2/캡처5.jpg"%}" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
              <img src="{%static "bingo/detail2/캡처6.jpg"%}" class="d-block w-100" alt="Slide 3">
          </div>

          </div>
      
 <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
      </div>

<!-- 사진 슬라이드 우측 글 -->      
      <div class="col-lg-3 text-center pt-5 ps-5 ms-5">
        <div class="d-grid gap-2 col-6 mx-auto pt-5">
   
          <a href="https://play.google.com/store/apps/details?id=com.retroarts.evilhuntertycoon&hl=ko&gl=US" class="btn btn-warning btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">홈페이지 이동</a>     -->
      </div><br><br><br>
          <p >
          <h3><strong>흥미진진한 전투 컨텐츠 !! <br>
          최강의 헌터를 가리는 PVP</strong></h3>  <br><br>
          <p class><h4>어둠의 마왕이 세계를 파멸시키고<br>
            모든 것들을 파괴하였다...<br>
            
            간신히 살아남은 인간들의<br>
            필사적인 생존게임이 시작된다! </h4> <br><br><br>
          <img src="{%static "bingo/detail2/다운로드.jpg"%}" title="charactor" width="300" height="150">
                 
        </p>
              </div> 
            </div>
            </div>   
            </div>
        </div>
      </div>

 <!-- 하단 배너 -->  
      <div class="container-fluid">
        <div class="row"> 
          <div class="col pt-5 mt-5" style="background-color:rgb(139, 214, 241);">
            <ul class="nav">
              <li>
                <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>이용약관</a>
              </li 
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>개인정보처리방침</a>
                </li
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>청소년보호정책</a>
                </li
                <li>
                  <a class="nav-link" href="#"><i class="fa-solid fa-user-plus me-2"></i>게임IP사용가이드</a>
                </li
            </ul>       
            <div class="container-fluid">
              <div class="row mt-3" > 
                <p> <small>㈜딩고빙고코리아 대표 김원희 오주현 김성준 박경린 서명균 백현서<br>
                  E-mail : hellodjango-py@dinggo.co.kr 사업자등록번호 : 220-05-11111호 통신판매업 신고번호 : 제2022-서울강남-1659호<br>
                  &copy; DING BINF Korea Corporation All Rights Reserved.</small></p>
               </div>
             </div>     
               
            <p class="text-center pt-10">
              <img src="{%static "bingo/detail2/logo.png"%}" width="40" height="20" /> <strong>DINGO BINGO</strong></a>             
           </p>
            </div>
          </div>
        </div>
     
    </body>     






      
  