@font-face {
   font-family: 'Cafe24Decobox';
   font-display: swap;
   src: url('file:///C:/Users/ITBANK/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-12-06_135336/fonts/Cafe24Decobox/font.ttf');
}
