@font-face {
   font-family: 'Cafe24Ssurround';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-12-15_213731/fonts/Cafe24Ssurround/font.ttf');
}
