@font-face {
   font-family: 'Cafe24Decobox';
   font-display: swap;
   src: url('Cafe24Decobox/font.ttf');
}
@font-face {
   font-family: 'Cafe24Ssurround';
   font-display: swap;
   src: url('Cafe24Ssurround/font.ttf');
}
@font-face {
   font-family: 'Cafe24SsurroundAir';
   font-display: swap;
   src: url('Cafe24SsurroundAir/font.ttf');
}
